<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %> | HTC visualization
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/feature.css' />
    <link rel='stylesheet' href='/stylesheets/histogram.css' />
    <link rel='stylesheet' href='/stylesheets/slider.css' />
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <nav class="hidden-xs-down sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link header" href="/">
                            HTC Visualization</a>
                        <hr/>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/<%= dataset %>/">
                            <i class="fas fa-list-alt"></i> Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/<%= dataset %>/hierarchy">
                            <i class="fas fa-sitemap"></i> Hierarchy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/<%= dataset %>/level">
                            <i class="fas fa-sort-amount-down"></i> Level</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= (yaxis == 'classes') ? 'active' : '' %>" href="/<%= dataset %>/classes">
                            <i class="fas fa-window-restore"></i> Class</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link <%= (yaxis == 'features') ? 'active' : '' %>" href="/<%= dataset %>/features">
                            <i class="fas fa-chart-bar"></i> Feature</a>
                    </li>
                    <hr/>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fas fa-arrow-alt-circle-left"></i> Back to Main Menu</a>
                    </li>
                </ul>
            </nav>
            <main>
                <p class="dataset_name" style="display: none;">
                    <%= dataset %>
                </p>
                <div class="row main-header">
                    <i class="fas fa-database fa-lg"></i>&nbsp;
                    <%= dataset %>
                </div>
                <hr/>
                <div class="content">
                    <div class="col-12 graphbox">
                        <div class="row">
                            <div class="col-6 graphtitle">
                                <%= title %>
                            </div>
                            <div class="col-6 graphother">
                                <a href="/<%= dataset %>/<%= yaxis %>/<%= (filter == " " ? " " : filter) %>">
                                    See
                                    <%= (filter == "" ? "documents" : filter) %> x
                                        <%= yaxis %>
                                            >>>
                                </a>
                            </div>
                        </div>
                        <svg class="graph"></svg>
                        <div class="row">
                            <div class="offset-10 col-2 logscale" onclick="toggleScale()">
                                <input type="checkbox" id="changeScale" class="form-check-input">
                                <label class="form-check-label" for="exampleCheck1">log scale</label>
                            </div>
                            <div class="col-10 slide_box">
                                <svg class="slideMax"></svg>
                            </div>
                            <div class="col-2 slider_label">
                                X axis range
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 slide_box">
                                <svg class="slide"></svg>
                            </div>
                            <div class="col-2 slider_label">
                                Number of bins
                            </div>
                        </div>
                        <hr style="margin: 0px" />
                        <div class="row summary">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <b>Average</b>
                                        <br>
                                        <%= "(" + xaxis %>)</div>
                                    <div class="col-4 next">
                                        <b>Max</b>
                                        <br>
                                        <%= "(" + xaxis %>)</div>
                                    <div class="col-4 next">
                                        <b>Min</b>
                                        <br>
                                        <%= "(" + xaxis %>)</div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-4" id="average">4</div>
                                    <div class="col-4 next" id="max">2000</div>
                                    <div class="col-4 next" id="min">1</div>
                                </div>
                            </div>
                            <div class="col-3 number_of_classes">
                                <div class="row">
                                    <div class="col-6">
                                        <b>Selected</b>
                                        <br>
                                        <%= "(" + yaxis %>)
                                    </div>
                                    <div class="col-6 next">
                                        <b>Other</b>
                                        <br>
                                        <%= "(" + yaxis %>)
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-6" id="number_of_classes">2</div>
                                    <div class="col-6 next" id="number_of_other_classes">2</div>
                                </div>
                            </div>
                            <div class="col-3 export">
                                <div class="row">
                                    <button class="btn btn-success" onclick="exportData()">Export selected
                                        <%= yaxis %>
                                    </button>
                                </div>
                                <div class="row">
                                    <button class="btn btn-danger" onclick="exportData(true)">Export other
                                        <%= yaxis %>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/javascripts/<%= yaxis %>/<%= xaxis %>/graph_config.js"></script>
    <script src="/javascripts/slider.js"></script>
    <script src="/javascripts/sliderMax.js"></script>
    <script src="/javascripts/graph.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="/javascripts/loadFile.js"></script>
</body>

</html>