<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel='stylesheet' href='/stylesheets/level.css' />
</head>

<body>
  <!-- <nav class="navbar navbar-expand-lg navbar-grey">
    <a class="navbar-brand" href="#">HTC Visualization</a>
  </nav> -->
  <div class="container-fluid">
    <div class="row">
      <nav class="hidden-xs-down sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link header" href="/">
              HTC Visualization</a>
            <hr/>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/<%= dataset %>/">
              <i class="fas fa-list-alt"></i> Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/<%= dataset %>/hierarchy">
              <i class="fas fa-sitemap"></i> Hierarchy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/<%= dataset %>/level">
              <i class="fas fa-sort-amount-down"></i> Level</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/<%= dataset %>/classes">
              <i class="fas fa-window-restore"></i> Class</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/<%= dataset %>/features">
              <i class="fas fa-chart-bar"></i> Feature</a>
          </li>
          <hr/>
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="fas fa-arrow-alt-circle-left"></i> Back to Main Menu</a>
          </li>
        </ul>
      </nav>
      <main>
        <p class="dataset_name" style="display: none;">
          <%= dataset %>
        </p>
        <div class="row main-header">
          <i class="fas fa-database fa-lg"></i>&nbsp;
          <%= dataset %>
        </div>
        <hr/>
        <div class="content">
          <div class="col-12 graphbox">
            <svg class="graph"></svg>
            <div class="row">
              <a href="/<%= dataset %>/level/classes" class="col-md-4 <%= data=='classes' ? 'classes active' : ''  %>" data="classes">Classes</a>
              <a href="/<%= dataset %>/level/leaf" class="col-md-4 <%= data=='leaf' ? 'leaf active' : ''  %>" data="leaf">Leaf classes</a>
              <a href="/<%= dataset %>/level/documents" class="col-md-4 <%= data=='documents' ? 'documents active' : ''  %>" data="documents">Documents in leaf classes</a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="/javascripts/level/graph.js"></script>

</body>

</html>