<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel='stylesheet' href='/stylesheets/selectData.css' />

  <body>
    <!-- <nav class="navbar navbar-expand-lg navbar-grey">
    <a class="navbar-brand" href="#">HTC Visualization</a>
  </nav> -->
    <div class="container-fluid">
      <div class="row">
        <nav class="hidden-xs-down sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link header" href="/">
                HTC Visualization</a>
              <hr/>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/">
                <i class="fab fa-lg fa-elementor"></i> Main Menu</a>
            </li>
          </ul>
        </nav>
        <main>
          <div class="row main-header">
            <i class="fas fa-table fa-lg"></i>&nbsp; Select dataset
          </div>
          <hr/>
          <div class="content">

            <% if(data.length == 0) {%>
              <div class="row" style="text-align: center">
                No dataset in database.
              </div>
              <% } %>

                <% for(let d of data) {%>
                  <div class="row box">
                    <div class="col-6 dataset-content">
                      <div class="dataset-title">
                        <%= d.name %>
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModel<%= d.name %>">
                            <i class="fas fa-trash-alt fa-sm"></i>
                          </button>
                      </div>
                      <div class="dataset-status">status:
                        <b class="<%= d.status %>">
                          <%= d.status %>
                        </b>
                      </div>
                    </div>

                    <% if(d.status=="ready") {%>
                      <div class="col-6 dataset-icon">
                        <a href="<%= d.name %>">
                          <button type="button" class="btn btn-primary" href="">
                            <i class="fas fa-sign-out-alt fa-4x"></i>
                          </button>
                        </a>
                      </div>
                      <% } else { %>
                        <div class="col-6 dataset-icon">
                          <button type="button" class="btn btn-warning" disabled>
                            <i class="fas fa-cog fa-pulse fa-4x"></i>
                          </button>
                        </div>
                        <% } %>
                          <% if(d.status=="storing") {%>
                            <div class="col-12 dataset-button">
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" style="width: <%= d.percentage %>%">
                                  <%= d.percentage %>%</div>
                              </div>
                            </div>
                            <% } %>

                              <div class="modal fade" id="removeModel<%= d.name %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Remove Dataset</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      Are you sure you want to remove
                                      <i>
                                        <%= '"' + d.name + '"' %>
                                      </i> from database?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                      <button type="button" class="btn btn-danger" onclick="removeData('<%= d.name %>')">Remove</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                  </div>
                  <% } %>


          </div>
        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>

      function removeData(remove_data_name) {
        $.ajax({
          url: '/core/' + remove_data_name + '/delete',
          type: 'get',
          success: function (result) {
            window.location.reload(1);
          },
          error: function (err) {
            console.error(err);
            $('.result').text('Error!')
          }
        });
      }
    </script>
  </body>

</html>